body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
}

.kalkulator{
    width: 360px;
    max-width: calc(100% - 32px);
    border: 1px solid #000;
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
}

.tampilan{
    width: 100%;
    box-sizing: border-box;
    margin: 6px 0;
    border-radius: 6px;
    border: none;
    background-color: bisque;
    height: 40px;
    padding: 8px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    height: 50px;
    padding: 6px;
}

.tombol{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}

.operator{
    background-color: #e7e7e7;
}

.sama-dengan{
    background-color: #ffaf02;
}

.reset{
    background-color: gray;
}

.nama-kamu{
    color: black;
    font-weight: bold;
}