body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top: 100px;
    text-align: center;
}

.kalkulator{
    width: 50%;
    border: 1px solid black;
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
}

.tampilan{
    width: 95%;
    margin: 6px 0;
    border-radius: 6px;
    border: none;
    background-color: bisque;
    height: 40px;/
}

table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
td{
height: 50px;
}

.tombol{
    width: 90%;
    height: 90%;
    border: 1px solid black;
    border-radius: 4px;
}
.operator{
background-color: #e7e7e7;
}
.sama-dengan{
    background-color: #ffaf02;

}
.reset{
background-color: gray;
}

.nama-kamu{
color: black;
font-weight: bold;
}